@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 1440px;
    max-height: 945px;
}
.header{
    max-width: 1440px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0 31px;
    margin-left: 120px;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 0 29px;
    list-style: none;
    margin-right: 120px;
}
.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 13px;
    text-decoration: none;
    color: #173047;
}
.btn{
    border: 1px solid #4688D5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px 23px;
}
.min-container{
    max-width: 820px;
    height: auto;
    margin: auto;
    margin-top: 40px;
}
.p{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3CC8AE;
}
.date{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #acb3ba;
    margin-top: 36px;
}
.h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    margin-top: 24px;
}
.icons{
    margin-top: 33px;
    width: 370px;
    height: 65px;
    background-size: cover;
    object-fit: cover;
    margin-bottom: 31px;
}
.text{
    width: 820px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
.h2{
    font-weight: 800;
    font-size: 26px;
    line-height: 30px;
    margin-top: 40px;
}
.heading{
    color: #acb3ba;
    margin-top: 20px; 
    text-align: center;
}
.inputs{
    width: 100%;
    background: linear-gradient(180deg, #F7F8FA 0%, #EDF1F5 100%);
    height: 221px;
    margin-bottom: 40px;
}
form{
    padding-top: 36px;
    margin-left: 36px;
    margin-bottom: 44px;
}
.form-heading{
    font-weight: 600;
font-size: 28px;
line-height: 28px;
margin-bottom: 16px;
}
.form-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4c5a69;
}
.input{
    width: 431px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D4D8DF;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 23px;
    outline: none;
}
.form-btn{
    padding: 18px 24px;
    background: #3CC8AE;
    box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
    border-radius: 3px;
    border: none;
    margin-left: 16px;
}
.divvv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.dateee{
    font-weight: 500;
    font-size: 26px;
    line-height: 21px;
    color: #D4D8DF;
}
.main{
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #F7F8FA 0%, #EDF1F5 100%);
}
.main__h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    padding-top: 48px;
    margin-left: 120px;
    margin-bottom: 32px;
    display: inline-block;
}
.main__text{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3CC8AE;
    margin-right: 120px;
    padding-top: 66px;
    text-decoration: none;
    margin-left: 607px;
}
.cards{
    display: flex;
    gap:  0 32px;
    margin-left: 119px;
}
.card{
    width: 283px;
    height: auto;
    margin-bottom: 77px;
    margin-right: 95px;
}
.card-date{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #c4c9d1;
    margin-top: 19px;
}
.card__h3{
    font-weight: 700;
    font-size: 23px;
    line-height: 25px;
    margin-top: 10px;
}
.card__p{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3CC8AE;
    margin-top: 14px;
}